.header1{
  height: 140px;
  width: 100%;
  display: flex;
}
.column1 {
  flex: 15%;
  height: 140px;
  margin: 2px;
  background-color: #16ebd9;
  text-align: center;
}
.column2{
  flex: 60%;
  height: 130px;
  padding: 5px;
  margin: 2px;
  background-color: #16ebd9;
  text-align: center;
}
.column3 {
  flex: 20%;
  height: 130px;
  padding: 5px;
  margin: 2px;
  background-color: #16ebd9;
  text-align: center;
}
.header2{
  margin-top: 15px;
  height: 20px;
  display: flex;
}
.list{
  flex: 16%;
  height: 20px;
  padding: 5px;
  margin: 2px;
  background-color: teal;
  text-align: center;
  
}
.list a{
  color: azure;
  text-decoration: none;
}




.login_wrapper {
  width: 100%;
  display: grid;
  place-items: center;
}

.login_wrapper form {
  width: 30%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  display: grid;
  place-items: center;
}

.login_wrapper form h2 {
  margin-bottom: 20px;
}

.login_wrapper form p {
  margin-top: 20px;
  margin-bottom: 10px;
}

.login_wrapper table {
  width: 100%;
}

.login_wrapper table tr {
  height: 50px;
}

.login_wrapper table td {
  font-size: 17px;
}

.login_wrapper table tr td p {
  font-size: 17px;
}

.login_wrapper table tr td:nth-child(1) {
  width: 50%;
}

.login_wrapper table tr td:nth-child(2) {
  width: 50%;
}

.login_wrapper table tr td:nth-child(2) input[type="text"],
.login_wrapper table tr td:nth-child(2) input[type="password"] {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7;
  box-sizing: border-box;
  padding: 0 10px;
}

.login_wrapper table tr td:nth-child(2) label {
  margin-left: 6px;
}

